In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
marvel=pd.read_csv(r"C:\Users\Admin\Downloads\charcters_stats.csv")
marvel

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
0,3-D Man,good,50,31,43,32,25,52,233
1,A-Bomb,good,38,100,17,80,17,64,316
2,Abe Sapien,good,88,14,35,42,35,85,299
3,Abin Sur,good,50,90,53,64,84,65,406
4,Abomination,bad,63,80,53,90,55,95,436
...,...,...,...,...,...,...,...,...,...
606,Yellowjacket,good,88,10,12,28,12,14,164
607,Yellowjacket II,good,50,10,35,28,31,28,182
608,Ymir,good,50,100,27,100,83,28,388
609,Zatanna,good,75,10,23,28,100,56,292
610,Zoom,bad,50,10,100,28,72,28,288

In [3]:
marvel["Alignment"].value_counts()

good       432
bad        165
neutral     11
Name: Alignment, dtype: int64

In [4]:
good=marvel[marvel["Alignment"]=="good"]
good

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
0,3-D Man,good,50,31,43,32,25,52,233
1,A-Bomb,good,38,100,17,80,17,64,316
2,Abe Sapien,good,88,14,35,42,35,85,299
3,Abin Sur,good,50,90,53,64,84,65,406
6,Adam Monroe,good,63,10,12,100,71,64,320
...,...,...,...,...,...,...,...,...,...
604,X-Man,good,88,53,53,95,92,84,465
606,Yellowjacket,good,88,10,12,28,12,14,164
607,Yellowjacket II,good,50,10,35,28,31,28,182
608,Ymir,good,50,100,27,100,83,28,388
609,Zatanna,good,75,10,23,28,100,56,292

In [5]:
marvel.shape

(611, 9)

In [8]:
good.sort_values(by=["Power"],ascending=False).head()

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
609,Zatanna,good,75,10,23,28,100,56,292
546,Thor,good,69,100,92,100,100,85,546
511,Spawn,good,75,60,50,90,100,95,470
69,Beta Ray Bill,good,63,80,35,95,100,84,457
70,Beyonder,good,88,100,23,100,100,56,467

In [13]:
most_powerful = good[good["Power"]==100]

In [14]:
most_powerful[["Name","Power"]]

                  Name  Power
69       Beta Ray Bill    100
70            Beyonder    100
85          Black Bolt    100
129              Cable    100
185            Deadman    100
196        Doctor Fate    100
198     Doctor Strange    100
204       Dr Manhattan    100
226          Firestorm    100
251               Goku    100
266         Hal Jordan    100
294             Iceman    100
299           Iron Man    100
306          Jean Grey    100
327            Kilowog    100
361  Martian Manhunter    100
362        Marvel Girl    100
383       Miss Martian    100
408     Naruto Uzumaki    100
417               Nova    100
418               Nova    100
419          Offspring    100
433            Phoenix    100
435        Plastic Man    100
487        Shadow King    100
499      Silver Surfer    100
511              Spawn    100
525           Stardust    100
546               Thor    100
547          Thor Girl    100
583        War Machine    100
589            Watcher    100
609            Zatanna    100

In [15]:
most_powerful.shape

(33, 9)

In [16]:
marvel.sort_values(by=["Power"],ascending=False).head()

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
372,Mephisto,bad,88,85,35,95,100,42,445
418,Nova,good,38,60,100,100,100,25,423
69,Beta Ray Bill,good,63,80,35,95,100,84,457
383,Miss Martian,good,63,85,58,100,100,45,451
386,Mister Mxyzptlk,bad,113,10,12,14,100,28,277